html {
    background-color: /*#121212*/#1f1f1f;
    font-size: 16;
} 

#everything{
    display:grid;
    text-align: center;
    justify-content: center;
    user-select: none;
    touch-action: manipulation;
}

h2 {
    color: white;
    font-size: 2em;
}

h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
}

.container {
    display: grid;
    border: 3px outset #EDEDED;
    background-color: #BCBCBC;
}

.display {
    background-color: #3E4345;
    border: 3px inset #EDEDED;
    margin: 10px;
    margin-bottom: 0;
    
}

.btContainer {
    display: flex;
    margin: 5px 10px 5px 10px;
    justify-content: space-between;
    
}

.dropdwnbt{
    border: 3px outset #EDEDED;
    margin: 0px 5px 10px 5px;
    font-weight: 600;
}

.dropdwnbt:active {
    border-style: inset;
}

.dropdwnbt:hover {
    background-color: #EEEEEE;
}

#easy {
    color: green;
}

#medium {
    color: blue;
}

#hard {
    color: red;
}

.displaybt {
    background-color: black;
    color: red;
    padding: 0;
    font-weight: 700;
    font-size: 1.5em;
    border: none;
    
}

.table {
    display: grid;
    border: 3px inset #EDEDED;
    margin: 10px;
    
}

.row{
    display: flex;
}

.box, #reset {
    border: 3px outset #EDEDED;
    background-color: #B8B8B8;
}

.box {
    width: 26px;
    height: 26px;
}

/* .box:active {
    border: 3px inset;
} */

#reset {
    padding: 0;
}

.blank {
    padding: 10px;
    width: 26px;
    height: 26px;
}

.flag {
    padding: 0;
}

.flag:active {
    border: 3px outset #EDEDED;
} 

.row img {
    width: 20px;
    height: 20px;
}

.mine{
    border: 0px;
    padding: 0px;
}

.mine img{
    width: 26px;
    height: 26px;
}

.empty {
    font-family: "Times New Roman", serif;
    font-size: 1.4rem;
    font-weight: 1000;
    text-align: center;
    height: 26px;
    width: 26px;
    border: 1px solid gray;
    background-color: #BCBCBC;
    pointer-events: none;
}